---
name: gradle-yapp-publisher-plugin workflow

on: [push, pull_request] # yamllint disable-line rule:truthy

jobs:
  dco:
    uses: ./.github/workflows/dco.yml
  commitlint:
    uses: ./.github/workflows/commitlint.yml
  license:
    uses: ./.github/workflows/license.yml
  test:
    uses: ./.github/workflows/test.yml
  lint:
    uses: ./.github/workflows/lint.yml
  repolint:
    uses: ./.github/workflows/repolint.yml
